## Installing and Importing Libraries

In [31]:
import sys
!{sys.executable} -m pip install bs4
!{sys.executable} -m pip install requests
!{sys.executable} -m pip install ta
!{sys.executable} -m pip install finta
!{sys.executable} -m pip install mplfinance
!{sys.executable} -m pip install yfinance

Requirement already satisfied: bs4 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests) (3.3)
Requirement already satisfied: ta in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (0.7.0)
Requirement already satisfied: numpy in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from ta) (1.21.2)
Requirement already satisfied: pandas in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from ta) (1.3.3)
Requirement already satisfied: pytz>=2017.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas->ta) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->ta) (1.16.0)
Requirement already satisfied: finta in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (1.3)
Requirement already satisfied: pandas in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from finta) (1.3.3)
Requirement already satisfied: numpy in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from finta) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas->finta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas->finta) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->finta) (1.16.0)
Requirement already satisfied: mplfinance in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (0.12.7a17)
Requirement already satisfied: pandas in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from mplfinance) (1.3.3)
Requirement already satisfied: matplotlib in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from mplfinance) (3.4.3)
Requirement already satisfied: numpy>=1.16 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from matplotlib->mplfinance) (1.21.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from matplotlib->mplfinance) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from matplotlib->mplfinance) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: six in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->mplfinance) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas->mplfinance) (2021.3)
Requirement already satisfied: yfinance in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (0.1.63)
Requirement already satisfied: pandas>=0.24 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from yfinance) (1.3.3)
Requirement already satisfied: requests>=2.20 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from yfinance) (1.21.2)
Requirement already satisfied: lxml>=4.5.1 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/manueltellechea/opt/anaconda3/envs/finance_py/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.7)

In [32]:
import matplotlib.pyplot as plt
import warnings
import requests
import time
import math
import yfinance as yf
import pandas as pd
import numpy as np
import mplfinance as mpf
from datetime import datetime
from bs4 import BeautifulSoup


plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = [16, 9]
plt.rcParams['figure.dpi'] = 300
warnings.simplefilter(action='ignore', category=FutureWarning)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

## Download Data

In [3]:
data = yf.download('AAPL')
data.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100600  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095352  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088353  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090540   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.093165   73449600

## ATR Calculation

In [66]:
data['high_low'] = data['High'] - data['Low']
data.tail()

,Open,High,Low,Close,Adj Close,Volume,high_low,abs_high_close,abs_low_close,tr,atr
Date,,,,,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.809998,64452200,3.000000,1.910004,1.089996,3.000000,2.905713
2021-10-12,143.229996,143.250000,141.039993,141.509995,141.509995,73035900,2.210007,0.440002,1.770004,2.210007,2.849285
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.910004,78762700,2.199997,0.110001,2.309998,2.309998,2.911427
2021-10-14,142.110001,143.880005,141.509995,143.759995,143.759995,69907100,2.370010,2.970001,0.599991,2.970001,2.987141
2021-10-15,143.770004,144.895004,143.514999,144.839996,144.839996,65076405,1.380005,1.135010,0.244995,1.380005,2.864285

In [67]:
data['abs_high_close'] = abs(data['High'] - data['Close'].shift(1))
data.tail()

,Open,High,Low,Close,Adj Close,Volume,high_low,abs_high_close,abs_low_close,tr,atr
Date,,,,,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.809998,64452200,3.000000,1.910004,1.089996,3.000000,2.905713
2021-10-12,143.229996,143.250000,141.039993,141.509995,141.509995,73035900,2.210007,0.440002,1.770004,2.210007,2.849285
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.910004,78762700,2.199997,0.110001,2.309998,2.309998,2.911427
2021-10-14,142.110001,143.880005,141.509995,143.759995,143.759995,69907100,2.370010,2.970001,0.599991,2.970001,2.987141
2021-10-15,143.770004,144.895004,143.514999,144.839996,144.839996,65076405,1.380005,1.135010,0.244995,1.380005,2.864285

In [70]:
data['abs_high_close'] = abs(data['High'] - data['Low'].shift(1))
data.tail()

,Open,High,Low,Close,Adj Close,Volume,high_low,abs_high_close,abs_low_close,tr,atr
Date,,,,,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.809998,64452200,3.000000,2.250000,1.089996,3.000000,2.905713
2021-10-12,143.229996,143.250000,141.039993,141.509995,141.509995,73035900,2.210007,1.440002,1.770004,2.210007,2.849285
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.910004,78762700,2.199997,0.360001,2.309998,2.309998,2.911427
2021-10-14,142.110001,143.880005,141.509995,143.759995,143.759995,69907100,2.370010,4.680008,0.599991,2.970001,2.987141
2021-10-15,143.770004,144.895004,143.514999,144.839996,144.839996,65076405,1.380005,3.385010,0.244995,1.380005,2.864285

In [73]:
data['tr'] = data[['high_low', 'abs_high_close', 'abs_low_close']].max(axis=1)
data.tail()

,Open,High,Low,Close,Adj Close,Volume,high_low,abs_high_close,abs_low_close,tr,atr
Date,,,,,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.809998,64452200,3.000000,2.250000,1.089996,3.000000,2.905713
2021-10-12,143.229996,143.250000,141.039993,141.509995,141.509995,73035900,2.210007,1.440002,1.770004,2.210007,2.849285
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.910004,78762700,2.199997,0.360001,2.309998,2.309998,2.911427
2021-10-14,142.110001,143.880005,141.509995,143.759995,143.759995,69907100,2.370010,4.680008,0.599991,4.680008,2.987141
2021-10-15,143.770004,144.895004,143.514999,144.839996,144.839996,65076405,1.380005,3.385010,0.244995,3.385010,2.864285

In [95]:
data['atr'] = data['tr'].rolling(14).mean()
data = data.drop(columns=["high_low", "abs_high_close", "abs_low_close", "tr"])
data.tail()

,Open,High,Low,Close,Adj Close,Volume,atr
Date,,,,,,,
2021-10-11,142.270004,144.809998,141.809998,142.809998,142.809998,64452200,3.427855
2021-10-12,143.229996,143.250000,141.039993,141.509995,141.509995,73035900,3.324999
2021-10-13,141.240005,141.399994,139.199997,140.910004,140.910004,78762700,3.248570
2021-10-14,142.110001,143.880005,141.509995,143.759995,143.759995,69907100,3.446427
2021-10-15,143.770004,144.895004,143.514999,144.839996,144.839996,65076405,3.466786

## Bollinger Band Calculation